# requirements.txt

streamlit
langchain               # Cài đặt gói chính để có các thành phần cơ bản
langchain-text-splitters # <-- THÊM GÓI CHỨA CÁC SPLITTER
langchain-groq          # Gói tích hợp Groq
numpy
scikit-learn
torch
accelerate
transformers
sentence-transformers
marker-pdf
PyMuPDF
einops
groq
